<div class="content product-list">
    <modal #modal>
        <modal-body>
            <product-add [modal]="modal"></product-add>
        </modal-body>
    </modal>

    <modal #modalCart>
        <modal-body>
            <product-add-cart [modal]="modalCart" [productCart]="productCart"></product-add-cart>
        </modal-body>
    </modal>

    <button (click)="modal.open()" class="add-modale">Add a product</button>

    <div class="col-lg-12 collapse-tab">
        <div class="col-lg-12">
            <div class="col-lg-1">
                <button (click)="deleteProducts(i)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </div>
            <div class="col-lg-2">
                Visuel Produit
            </div>
            <div class="col-lg-2">
               Nom Commercial
            </div>
            <div class="col-lg-2">
                Prix
            </div>
            <div class="col-lg-2">
                Réference
            </div>
            <div class="col-lg-3">
                Status
            </div>
        </div>
    </div>
    <hr>
    <div class="col-lg-12 collapse-content">
        <div class="product col-lg-12"  *ngFor='#product of products; #i = index;'>

            <div class="collapse-head col-lg-12">
                <div class="col-lg-1">
                    <input  (change)="selectProduct(i)" type="checkbox">
                </div>
                <div class="col-lg-2">
                    <img class="img-responsive" [src]="product.image[0].small" alt="{{product.name}}">
                </div>
                <div class="col-lg-2">
                    <h3> {{product.name}}</h3>
                </div>
                <div class="col-lg-2">
                    <p>
                        {{product.name}}
                    </p>
                </div>
                <div class="col-lg-2">
                    <h3>
                        {{product.reference}}
                    </h3>
                </div>
                <div class="col-lg-3">
                    <div class="col-lg-4">
                        <button class="status status-{{product.status}}"></button>
                    </div>
                    <div class="col-lg-4">
                        <button (click)="loadModalProduct(product, modalCart);"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                    </div>
                    <div class="col-lg-4">
                        <button (click)="isOpen[i] = !isOpen[i]"><i class="fa fa-eye" aria-hidden="true"></i></button>
                    </div>

                </div>
            </div>

            <div class="col-lg-12 collapse-body" [ngClass]="{active: isOpen[i]}">
                <div class="col-lg-12">
                    <div class="col-lg-4">
                        <img class="img-responsive" [src]="product.image[0].medium" alt="{{product.name}}">
                    </div>
                    <div class="col-lg-8">
                        <div class="col-lg-12"></div>
                        <div class="col-lg-12">
                            <h3>Prix</h3>
                            <div class="col-lg-3" *ngFor="#price of product.price">
                                <div class="well well-sm">
                                    {{price.name}}: <br>
                                    {{price.price}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <div class="col-lg-4">
                            <h3>Hydrophylie:</h3>
                            <div class="well well-sm">
                                {{product.hydrophily}}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <h3>Teinte:</h3>
                            <div class="well well-sm">
                                {{product.color}}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <h3>Matériaux:</h3>
                            <div class="well well-sm">
                                {{product.material}}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-4">
                            <h3>Diametre:</h3>
                            <div class="well well-sm">
                                <span *ngFor="#diameter of product.param[0].diameter">
                                    {{diameter}}mm
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <h3>Rayon:</h3>
                            <div class="well well-sm">
                                <span *ngFor="#radius of product.param[0].radius">
                                    {{radius}}mm
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <h3>Addition:</h3>
                            <div class="well well-sm">
                              <span *ngFor="#addition of product.param[0].addition">
                                    {{addition}}mm
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>