<div class="content product-list">
    <modal #modal>
        <modal-body>
            <product-add [modal]="modal"></product-add>
        </modal-body>
    </modal>

    <modal #modalCart>
        <modal-body>
            <product-add-cart [modal]="modalCart" [productCart]="productCart"></product-add-cart>
        </modal-body>
    </modal>

    <button (click)="modal.open()" class="add-modale">Add a product</button>

    <div class="col-lg-12 collapse-tab">
        <div class="col-lg-12">
            <div class="col-lg-1">
                <button (click)="deleteProducts()" class="icon-button">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </div>
            <div class="col-lg-2">
                Visuel Produit
            </div>
            <div class="col-lg-3">
               Nom Commercial
            </div>
            <div class="col-lg-2">
                Prix
            </div>
            <div class="col-lg-1">
                Réference
            </div>
            <div class="col-lg-3">
                Status
            </div>
        </div>
    </div>
    <hr>
    <div class="col-lg-12 collapse-content">
        <div class="product col-lg-12"  *ngFor='#product of products; #i = index;'>

            <div class="collapse-head col-lg-12">
                <div class="col-lg-1">
                    <input  (change)="selectProduct(i)" type="checkbox">
                </div>
                <div class="col-lg-2">
                    <img class="img-responsive" [src]="product.image.small" alt="{{product.name}}">
                </div>
                <div class="col-lg-3">
                    <h3> {{product.name}}</h3>
                </div>
                <div class="col-lg-2">
                    <p>
                        {{product.name}}
                    </p>
                </div>
                <div class="col-lg-1">
                    <h3>
                        {{product.reference}}
                    </h3>
                </div>
                <div class="col-lg-3">
                    <div class="col-lg-6">
                        <select [(ngModel)]="product.status" (change)="changeStatus(i)">
                            <option value="0">Sommeil</option>
                            <option value="1">En ligne</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <button (click)="loadModalProduct(product, modalCart);"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                    </div>
                    <div class="col-lg-3">
                        <button (click)="isOpen[i] = !isOpen[i]"><i class="fa fa-eye" aria-hidden="true"></i></button>
                    </div>

                </div>
            </div>

            <div class="col-lg-12 collapse-body text-center" [ngClass]="{active: isOpen[i]}">
                <div class="col-lg-4 col-lg-offset-4">
                    <img class="img-responsive" [src]="product.image.big" alt="{{product.name}}">
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-8">
                        <div class="col-lg-12"></div>
                        <div class="col-lg-12">
                            <h3>Prix</h3>
                            <div class="col-lg-3" *ngFor="#price of product.price">
                                <div class="well well-sm">
                                    {{price.name}}: <br>
                                    {{price.price}} €
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <h3>Price D'achat Moyen Pondéré</h3>
                            <div class="col-lg-3">
                                <div class="well well-sm">
                                    {{product.middlePrice}} €
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <h3>Prix Fournisseur</h3>
                            <div class="col-lg-3" *ngFor="#ownerPrice of product.ownerPrice">
                                <div class="well well-sm">
                                    {{ownerPrice.owner}}: <br>
                                    {{ownerPrice.price}}€ pour {{ownerPrice.quantity}} boites
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-4">
                            <h3>Hydrophylie:</h3>
                            <div class="well well-sm">
                                {{product.hydrophily}}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <h3>Teinte:</h3>
                            <div class="well well-sm">
                                {{product.color}}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <h3>Matériaux:</h3>
                            <div class="well well-sm">
                                {{product.material}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <table>
                        <thead>
                            <td>axis</td>
                            <td>radius</td>
                            <td>diameter</td>
                            <td>cylinder</td>
                            <td>addition</td>
                        </thead>
                        <tr>
                            <td>
                                <ul>
                                    <li *ngFor="#axis of product.param[0].axis">{{axis}}</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li *ngFor="#radius of product.param[0].radius">{{radius}}</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li *ngFor="#diameter of product.param[0].diameter">{{diameter}}</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li *ngFor="#cylinder of product.param[0].cylinder">{{cylinder}}</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li *ngFor="#addition of product.param[0].addition">{{addition}}</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-12">
                    <h2>spheres</h2>
                    <table>
                        <thead>
                            <td *ngFor="#sphereIndex of sphereIndexes[i]">{{sphereIndex}}</td>
                        </thead>
                        <tr>
                            <td *ngFor="#sphereIndex of sphereIndexes[i]">
                                <ul>
                                    <li *ngFor="#sphere of spheres[i][sphereIndex]">{{sphere}}</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>