<div class="content product-cart">
    <div class="row m-b-20">
        <div class="col-md-4 col-md-offset-4">
            <div class="input-field">
                <input id="country" type="text" class="validate filter-input" [(ngModel)]=query (keyup)=filter() placeholder="Choisissez un magasin">
                <p class="cart-error" [ngClass]="{'visible': no_shop == true}">Merci de choisir un magasin</p>
            </div>
            <div class="suggestions" *ngIf="filteredList.length > 0">
                <ul *ngFor="#item of filteredList" >
                    <li >
                        <a (click)="select(item)">{{item}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row m-b-20">
        <div class="col-md-4 col-md-offset-4">
            <div class="input-field">
                <input type="text" [(ngModel)]="porter" class="filter-input" placeholder="Choisir un porteur">
                <p class="cart-error" [ngClass]="{'visible': no_porter == true}">Merci d'entrer un nom de porteur</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 collapse-tab">
            <div class="col-lg-12">
                <div class="col-lg-1">
                    <button (click)="deleteProductsCard()" class="icon-button">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="col-lg-2">
                    Visuel Produit
                </div>
                <div class="col-lg-2">
                    Nom Commercial
                </div>
                <div class="col-lg-2">
                    Prix
                </div>
                <div class="col-lg-2">
                    Oeil
                </div>
                <div class="col-lg-3">
                    Quantité
                </div>
            </div>
        </div>
        <hr>
        <div class="col-lg-12 collapse-content">
            <div class="product col-lg-12"  *ngFor='#product of products; #i = index;'>

                <div class="collapse-head col-lg-12">
                    <div class="col-lg-1">
                        <input  (change)="selectProduct(i)" type="checkbox">
                    </div>
                    <div class="col-lg-2">

                    </div>
                    <div class="col-lg-2">
                        <h3>{{product.name}}</h3>
                    </div>
                    <div class="col-lg-2">
                        <p>{{product.actualPrice}}€</p>
                    </div>
                    <div class="col-lg-2">
                        <p>{{product.eye}}</p>
                    </div>
                    <div class="col-lg-1">
                        <p>{{ product.quantity }}</p>
                    </div>
                    <div class="col-lg-2">
                        <div class="col-lg-6">
                            <button (click)="removeFromCart(i); getCart();"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </div>
                        <div class="col-lg-6">
                            <button (click)="isOpen[i] = !isOpen[i]"><i class="fa fa-eye" aria-hidden="true"></i></button>
                        </div>

                    </div>
                </div>

                <div class="col-lg-12 collapse-body" [ngClass]="{active: isOpen[i]}">
                    <div class="col-lg-12">
                        <div class="col-lg-4">
                            <img class="img-responsive" [src]="product.image.medium" alt="{{product.name}}">
                        </div>
                        <div class="col-lg-8">
                            <div class="col-lg-12"></div>
                            <div class="col-lg-12">
                                <h3>Prix</h3>
                                <div class="col-lg-3" *ngFor="#price of product.price">
                                    <div class="well well-sm" *ngIf="price">
                                        {{price.name}}: <br>
                                        {{price.price}}€
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-12">
                            <div class="col-lg-4">
                                <h3>Hydrophylie:</h3>
                                <div class="well well-sm">
                                    {{product.hydrophily}}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <h3>Teinte:</h3>
                                <div class="well well-sm">
                                    {{product.color}}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <h3>Matériaux:</h3>
                                <div class="well well-sm">
                                    {{product.material}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-4">
                                <h3>Diametre:</h3>
                                <div class="well well-sm">
                                    {{product.item.diameter}}mm
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <h3>Rayon:</h3>
                                <div class="well well-sm">
                                    {{product.item.radius}}mm
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <h3>Addition:</h3>
                                <div class="well well-sm">
                                    {{product.item.addition}}mm
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 total">
            <div class="row">
                <div class="col-md-8">
                    <strong>Total de la commande : <span class="price">{{ getPrice() }} €</span></strong>
                </div>
                <div class="col-md-4">
                    <button (click)="validateCart()" class="btn btn-default validate-cart">Valider le panier</button>
                </div>
            </div>
        </div>
    </div>
</div>