<div class="content facture-list">

    <div class="col-lg-12 collapse-tab">
        <div class="col-lg-12">
            <div class="col-lg-3">
                Date
            </div>
            <div class="col-lg-4">
                Client
            </div>
            <div class="col-lg-2 text-center">
                Amount
            </div>
            <div class="col-lg-3">
                Status
            </div>
        </div>
    </div>
    <hr>
    <div class="col-lg-12 collapse-content">
        <div class="product col-lg-12"  *ngFor='#payment of payments; #i = index;'>
            <div class="collapse-head col-lg-12">
                <div class="col-lg-3">
                    <p>{{ payment.date.getDate() }}/{{ payment.date.getMonth() + 1 }}/{{ payment.date.getFullYear() }}</p>
                </div>
                <div class="col-lg-4">
                    <p>{{ payment.client }}</p>
                </div>
                <div class="col-lg-2 text-center">
                    <p>{{ payment.amount }}€</p>
                </div>
                <div class="col-lg-3">
                    <div class="col-lg-6">
                        <select [(ngModel)]="payment.status" (change)="changeStatus(i)">
                            <option value="false">Non payé</option>
                            <option value="true">Payé</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-lg-offset-2" *ngIf="payment.amount != 0">
                        <button (click)="printPdf(i)"><i class="fa fa-spinner" [ngClass]="{faFile: loader[i]}" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>