<div class="container-fluid new-product">
    <form [ngFormModel]="subscribeForm" novalidate>
        <div class="row">
            <div class="col-md-12">
                <h1>Ajouter un Produit</h1>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="photo">
                                    <img [src]="products.image.original" alt="product image">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="file-pb" class="ui small black button right icon upload-button">
                                    Choose file
                                </label>
                                <input type="file"
                                       id="file-pb"
                                       style="display:none;"
                                       [ng-file-select]="options"
                                       (onUpload)="handleUpload($event)">
                                <div *ngIf="uploadFile">
                                    Progress: {{ uploadProgress }}%
                                </div>

                                <div *ngIf="uploadFile">
                                    <div class="ui indicating olive progress">
                                        <div class="bar" [style.width]="uploadProgress + '%'"></div>
                                        <div class="label">Uploading file ({{ uploadProgress }}%)</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 col-md-offset-4">
                        <label for="name">Nom</label>
                        <input  [(ngModel)]="products.name" ngControl="name" id="name" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="checkbox">
                        <label><input type="checkbox"[(ngModel)]="products.type.toric"><br>Toric</label>
                        <label><input type="checkbox" [(ngModel)]="products.type.progressiv"><br>Progressiv</label>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-4">
                            <label for="hydrophily">Hydrophilie</label>
                            <input type="number" [(ngModel)]="products.hydrophily" id="hydrophily" class="form-control" placeholder="%">
                        </div>
                        <div class="col-md-4">
                            <label for="material">Material</label>
                            <input type="text" [(ngModel)]="products.material" id="material" class="form-control" placeholder="material">
                        </div>
                        <div class="col-md-4">
                            <label for="color">Color</label>
                            <input type="text" [(ngModel)]="products.color" id="color" class="form-control" placeholder="color">
                        </div>
                    </div>
                    <div class="row">
                        <h2>Prix</h2>
                        <div class="col-md-4" *ngFor="#price of products.price">
                            <div class="form-group">
                                <label >Prix {{price.name}} </label>
                                <input [(ngModel)]="price.price" name="price"  class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h2>Prix Fournisseur</h2>
                        <div class="form-group row" *ngFor="#ownerPrice of products.ownerPrice">
                            <div class="col-md-4">
                                <label>Fournisseur </label>
                                <input [(ngModel)]="ownerPrice.owner"  type="text"  name="owner"  cclass="form-control">
                            </div>
                            <div class="col-md-4">
                                <label>Quantité (en boite)</label>
                                <input [(ngModel)]="ownerPrice.quantity" type="number" name="ownerQuantity"  class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label>Prix</label>
                                <input [(ngModel)]="ownerPrice.price" type="number" name="ownerPrice"  class="form-control">
                            </div>
                        </div>
                        <button class="smallButton" (click)="addOwnerPrice()">Ajouter</button>
                        <button class="smallButton" (click)="deleteOwnerPrice()">Effacer</button>
                    </div>
                    <div class="row">
                        <label >Price D'achat Moyen Pondéré </label>
                        <div class="well well-sm">
                                <span>
                                   {{middlePrice()}}
                                </span>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-4">
                        <label for="ametropia">Amétropie</label>
                        <input type="text" [(ngModel)]="products.ametropia" id="ametropia" class="form-control" placeholder="amétropie">
                    </div>
                    <div class="col-md-4">
                        <label for="port">Port</label>
                        <select [(ngModel)]="products.port" id="port">
                            <option value="journalier">Journalier</option>
                            <option value="hebdomadaire">Hebdomadaire</option>
                            <option value="mensuel">Mensuel</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="portDuration">Durée du port</label>
                        <input type="text" [(ngModel)]="products.portDuration" id="portDuration" class="form-control" placeholder="durée du port">
                    </div>
                </div>

                <hr>
                <span *ngFor="#item of items; #i = index">
                    <h2>Item #{{i + 1}}</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Rayon</label>
                            <input class="form-control" type="number" [(ngModel)]="item.radius" placeholder="rayon">
                        </div>
                        <div class="col-md-6">
                            <label>Diamètre</label>
                            <input class="form-control" type="number" [(ngModel)]="item.diameter" placeholder="diamètre">
                        </div>
                    </div>


                     <div class="row" *ngIf="products.type.toric">
                        <label for="axis">Axe</label>
                        <div class="row">
                            <div class="col col-md-4">
                                <input type="number" id="axis" class="form-control" [(ngModel)]="item.axis.min"  placeholder="Min Value">
                            </div>
                            <div class="col col-md-4">
                                <input type="number" id="axis-max" class="form-control" [(ngModel)]="item.axis.max"   placeholder="Max Value">
                            </div>
                            <div class="col col-md-4">
                                <input type="number" id="axis-interval" class="form-control" [(ngModel)]="item.axis.int"   placeholder="Interval">
                            </div>

                        </div>
                    </div>
                    <div class="row" *ngIf="products.type.toric">
                        <label for="cylindre">Cylindre</label>
                            <div class="row">
                                <div class="col col-md-4">
                                    <input type="number" id="cylindre" [(ngModel)]="item.cylinder.min" class="form-control" placeholder="Min Value">
                                </div>
                                <div class="col col-md-4">
                                    <input type="number" id="cylindre-max" [(ngModel)]="item.cylinder.max" class="form-control" placeholder="Max Value">
                                </div>
                                <div class="col col-md-4">
                                    <input type="number" id="cylindre-interval" [(ngModel)]="item.cylinder.int" class="form-control" placeholder="Interval">
                                </div>
                            </div>
                    </div>

                    <div class="row"  *ngIf="products.type.progressiv">
                        <label for="addition">Addition</label>
                        <div class="row">
                            <div class="col col-md-4">
                                <input  type="number" id="addition" [(ngModel)]="item.addition.min" class="form-control" placeholder="Min Value">
                            </div>
                            <div class="col col-md-4">
                                <input type="number" id="addition-max" [(ngModel)]="item.addition.max" class="form-control" placeholder="Max Value">
                            </div>
                            <div class="col col-md-4">
                                <input type="number"  id="addition-interval" [(ngModel)]="item.addition.int" class="form-control" placeholder="Interval">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <label for="addition">Sphere</label>
                        <div class="row">
                            <div class="col col-md-4">
                                <input  type="number" id="sphere" [(ngModel)]="item.sphere.min" class="form-control" placeholder="Min Value">
                            </div>
                            <div class="col col-md-4">
                                <input type="number" id="sphere-max" [(ngModel)]="item.sphere.max" class="form-control" placeholder="Max Value">
                            </div>
                            <div class="col col-md-4">
                                <input type="number" id="sphere-int" [(ngModel)]="item.sphere.int" class="form-control" placeholder="Interval">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Stock</label> (<input type="checkbox" [(ngModel)]="item.provider"><label>Chez le fournisseur</label>)
                            <input [disabled]="item.provider" type="number" id="stock" [(ngModel)]="item.stock" class="form-control" placeholder="Min Value">
                        </div>
                        <div class="col-md-6">
                            <label for="condition">Condition</label>
                            <input type="text"  id="condition"class="form-control" placeholder="Min Value" [(ngModel)]="item.condition">
                        </div>
                    </div>
                </span>
                <hr>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <button (click)="addProduct()">add</button>
                    </div>
                    <div class="col-md-4 ">
                        <button (click)="deleteProduct()">delete</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button (click)="save()">Valider</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

