<div class="contente product-command-list">
    <h1>Commands</h1>


    <accordion [closeOthers]="true">


        <accordion-group heading="Commande du {{command.date}}"  *ngFor='#command of commands; #i = index' [command]="command">
            Client: #{{command.client}}<br>
            Liste des produits:
            <table>
                <tr>
                    <td>nom</td>
                    <td>materiau</td>
                    <td>couleur</td>
                    <td>addition</td>
                    <td>axes</td>
                    <td>cylindre</td>
                    <td>diamètre</td>
                    <td>rayon</td>
                    <td>sphere</td>
                    <td>status</td>
                </tr>
                <tr *ngFor="#product of command.product">
                    <td>{{product.name}}</td>
                    <td>{{product.material}}</td>
                    <td>{{product.color}}</td>
                    <td>{{product.item.addition}}</td>
                    <td>{{product.item.axis}}</td>
                    <td>{{product.item.cylinder}}</td>
                    <td>{{product.item.diameter}}</td>
                    <td>{{product.item.radius}}</td>
                    <td>{{product.item.sphere}}</td>
                    <td>{{command.status}}</td>
                </tr>
            </table>
        </accordion-group>

    </accordion>
</div>