<h2>{{ product.name }}</h2>
<div class="container-fluid">
    <div class="form-control">
        <form [ngFormModel]="subscribeForm" novalidate>
            <div class="row">
                <div class="col col-md-6">
                    <div class="form-group ">
                        <div class="col col-md-2">
                            <select >
                                <option *ngFor="#item of product.param.radius; #i = index" [value]="item">{{item}}</option>
                            </select>
                        </div>
                        <div class="col col-md-2 ">
                            <select>
                                <option *ngFor="#item of product.param.diameter; #i = index" [value]="item">{{item}}</option>
                            </select>
                        </div>
                        <div class="col col-md-2">
                            <select>
                                <option *ngFor="#item of product.param.axis; #i = index" [value]="item">{{item}}</option>
                            </select>
                        </div>
                        <div class="col col-md-2">
                            <select>
                                <option *ngFor="#item of product.param.addition; #i = index" [value]="item">{{item}}</option>
                            </select>
                        </div>
                        <div class="col col-md-2">
                            <select>
                                <option *ngFor="#item of product.param.cylinder; #i = index" [value]="item">{{item}}</option>
                            </select>
                        </div>
                        <div class="col col-md-2">
                            <select>
                                <option *ngFor="#item of product.param.sphere; #i = index" [value]="item">{{item}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input type="text" placeholder="Client Name" [(ngModel)]="product.client">
                </div>
                <div class="col-md-4">
                    <input type="number" placeholder="Quantity" [(ngModel)]="product.quantity">
                </div>
                <div class="col-md-4">
                    <button (click)="addProductToCart()">add</button>
                </div>
            </div>
        </form>
    </div>
</div>