<div  *ngIf="routeAuth.auth == false" class="footer">
    <div class="container-fuild ">
        <div class="row">
            <div class="logo">
                <img src="../../public/img/logo-provisoire.png">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 footer-link">
                <ul>
                    <li><a>Contact</a></li>
                    <li><a>Mentions Légales</a></li>
                    <li><a>Plan du Site</a></li>
                </ul>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row">
            <span>2016 - Tous Droits Réservés</span>
        </div>
    </div>
</div>
