<div  *ngIf="routeAuth.auth == false" class="footer">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 footer-content">
            <div class="row">
                <div class="col col-md-4 col-md-offset-4 text-center">
                    <p>X-V I S I O N  54, boulevard Michel 75018 PARIS</p>
                    <p>Tél. : 01 53 39 19 30 / Fax : 01 53 39 19 31</p>
                </div>
            </div>
            <div class="row useful-link">
                <div class="text-right pull-left col-md-2">
                    <span><a>Mentions légales</a></span>
                </div>
                <div class="pull-right text-left  col-md-2">
                    <span><a>Plan du site</a></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row copyright">
        <div class="col col-md-4 col-md-offset-4 text-center">
            2016 Tous droits réservés . X - VISION
        </div>
    </div>
</div>
