<div id="sidebar-wrapper">

    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a [routerLink]="['Admin', 'Dashboard']">
                {{title}}
            </a>
        </li>
        <li>
            <a [class.active]="router.isRouteActive(router.generate(['Admin', 'Subscribe']))"
                    [routerLink]="['Admin', 'Subscribe']">Ajouter un Employé
                <i class="fa fa-user fa-fw"></i>
            </a>
        </li>
        <li>
            <a [class.active]="router.isRouteActive(router.generate(['Admin', 'Validation']))"
                    [routerLink]="['Admin', 'Validation']">Ajouter un client
                <i class="fa fa-user-plus fa-fw"></i>
            </a>
        </li>
        <li>
           <a [class.active]="router.isRouteActive(router.generate(['Admin', 'List']))"
                   [routerLink]="['Admin', 'List']">Liste des clients
               <i class="fa fa-users fa-fw"></i>
           </a>
        </li>
        <li>
           <a [class.active]="router.isRouteActive(router.generate(['Admin', 'Product', 'List']))"
                   [routerLink]="['Admin', 'Product', 'List']">Nos Produits
               <i class="fa fa-list fa-fw"></i>
           </a>
        </li>
        <li>
            <a [class.active]="router.isRouteActive(router.generate(['Admin', 'Product', 'Price']))"
               [routerLink]="['Admin', 'Product', 'Price']">Prix
                <i class="fa fa-eur fa-fw"></i>
            </a>
        </li>
        <li>
            <a [class.active]="router.isRouteActive(router.generate(['Admin', 'Product', 'Cart']))"
                   [routerLink]="['Admin', 'Product', 'Cart']">Mon Panier
               <i class="fa fa-shopping-cart fa-fw"></i>
           </a>
        </li>
        <li>
            <a [class.active]="router.isRouteActive(router.generate(['Admin', 'Product', 'Command']))"
                   [routerLink]="['Admin', 'Product', 'Command']">Mes commandes
               <i class="fa fa-truck fa-fw"></i>
           </a>
        </li>
        <li>
            <a [class.active]="router.isRouteActive(router.generate(['Admin', 'Product', 'Payment']))"
                   [routerLink]="['Admin', 'Product', 'Payment']">Paiements
               <i class="fa fa-file-o fa-fw"></i>
           </a>
        </li>
    </ul>
</div>