
<div id="sidebar-wrapper">

    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a [routerLink]="['User', 'Dashboard']">
                {{title}}
            </a>
        </li>
        <li>
            <a [class.active]="router.isRouteActive(router.generate(['User', 'Shop']))"
               [routerLink]="['User', 'Shop']">Voir nos Produits
                <i class="fa fa-user fa-fw"></i>
            </a>
        </li>
        <li>
            <a [class.active]="router.isRouteActive(router.generate(['User', 'Cart']))"
               [routerLink]="['User', 'Cart']">Mon Panier
                <i class="fa fa-shopping-cart fa-fw"></i>
            </a>
        </li>
    </ul>
</div>