<div class="header row">
    <button class="menu-mobile"><img src="../../public/img/menu.png"></button>
    <div class="col-md-3">
        <div class="logo">
            <img src="../../public/img/logo-provisoire.png">
        </div>
    </div>
  <!--  <div class="col-md-10 header-navbar" id="header-navbar">
        <li><a [routerLink]="['Home', 'Subscribe']">Inscription</a></li>
        <li><a [routerLink]="['Home', 'Login']">Connexion</a></li>
        </div>-->
    <div class="col-md-7 header-navbar" id="header-navbar">

        <li><a [routerLink]="['Home', 'Sign']">Nous Rejoindre</a></li>
        <li><a [routerLink]="['Home', 'Products']">Nos Produits</a></li>
        <li><a [routerLink]="['Home', 'About']">Qui Sommes-Nous ?</a></li>
        <li><a [routerLink]="['Home', 'Homepage']">Accueil</a></li>



    </div>
    <div class="col-md-2">
        <a><button class="btn default login-button">Connexion</button></a>
    </div>
</div>
<div class="header-content row container">
    <h1>Un nouveau regard sur l'optique</h1>
    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</span>
    <span>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</span>
    <a><button class="btn default header-button">DÉCOUVREZ NOS OFFRES</button></a>
</div>