
<div class="header row">
    <button class="menu-mobile"><img src="../../public/img/menu.png"></button>
    <div class="col-md-2">
        <div class="logo">
            <img src="../../public/img/logo.png">
        </div>
    </div>
    <div class="col-md-10 header-navbar" id="header-navbar">
        <li><a [routerLink]="['User', 'Subscribe']">Inscription</a></li>
        <li><a [routerLink]="['User', 'Login']">Connexion</a></li>
        <li><a [routerLink]="['Home', 'Products']">Nos Produits</a></li>
        <li><a [routerLink]="['Home', 'Contact']">Nos Engagements</a></li>
        <li><a [routerLink]="['Home', 'About']">Qui sommes nous ?</a></li>
        <li><a [routerLink]="['Home', 'Homepage']">Accueil</a></li>
    </div>
</div>
