<div class="header row">
    <button class="menu-mobile"><img src="../../public/img/menu.png"></button>
    <div class="col-md-3">
        <div class="logo">
            <img src="../../public/img/logo.png">
        </div>
    </div>
  <!--  <div class="col-md-10 header-navbar" id="header-navbar">
        <li><a [routerLink]="['Home', 'Subscribe']">Inscription</a></li>
        <li><a [routerLink]="['Home', 'Login']">Connexion</a></li>
        </div>-->
    <div class="col-md-9 header-navbar" id="header-navbar">

        <li><a [routerLink]="['Home', 'Sign']">Nous Rejoindre</a></li>
        <li><a [routerLink]="['Home', 'Products']">Nos Produits</a></li>
        <li><a [routerLink]="['Home', 'About']">Qui sommes nous ?</a></li>
        <li><a [routerLink]="['Home', 'Homepage']">Accueil</a></li>
    </div>
</div>