@font-face {
  font-family: OpenSans;
  src: url("./fonts/open-sans/OpenSans-Regular.ttf"); }

@font-face {
  font-family: HelveticaNeue-Light;
  src: url("./fonts/HelveticaNeue/HelveticaNeue-Light.otf"); }

body {
  font-family: OpenSans, Helvetica, sans-serif; }
  body .admin.wrapper {
    position: fixed;
    left: 250px;
    right: 0;
    bottom: 0;
    top: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #f1f1f1; }
    body .admin.wrapper .panel {
      margin: 30px; }
      body .admin.wrapper .panel .panel-body {
        height: 300px;
        overflow: scroll; }
        body .admin.wrapper .panel .panel-body .userInfo .well {
          text-overflow: ellipsis;
          overflow: hidden; }
