doctype html
html
  head
    base(href="/")
    title= title
    link(rel='stylesheet', href='/public/css/style.css')

    // Required polyfill
    script(src='/lib/es6-shim/es6-shim.min.js')
    script(src='/lib/systemjs/dist/system-polyfills.js')

    script(src='/lib/angular2/bundles/angular2-polyfills.js')
    script(src='/lib/systemjs/dist/system.src.js')
    script(src='/lib/typescript/lib/typescript.js')
    script(src='/lib/rxjs/bundles/Rx.js')
    script(src='/lib/angular2/bundles/angular2.dev.js')

    script(src='/lib/angular2/bundles/router.dev.js')
    script(src='/config.js')


  body
    my-app loading...
    router-outlet
    p Welcome to #{title}
