doctype html
html
  head
    base(href="/")
    title= title
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")

    // Required polyfill



  body
    app loading...

    script(src='/lib/es6-shim/es6-shim.min.js')
    script(src='/lib/systemjs/dist/system-polyfills.js')

    script(src='/lib/angular2/bundles/angular2-polyfills.js')
    script(src='/lib/systemjs/dist/system.src.js')
    script(src='/lib/typescript/lib/typescript.js')
    script(src='/lib/rxjs/bundles/Rx.js')
    script(src='/lib/angular2/bundles/angular2.dev.js')

    script(src='/lib/angular2/bundles/router.dev.js')
    script(src='/lib/angular2/bundles/http.dev.js')
    script(src='/config.js')
