footer{
  width: 100%;
  clear: both;
  position: relative;
  z-index: 10;
  background-color: #23252e;
  color: #FFF;
  padding: 80px 500px;
  text-align: center;
  font-family: "Open Sans";
  .logo{
    margin-bottom: 20px;
  }
  .footer-link{

    li{
      display: inline-block;
      list-style: none;
      a{
        color: #cacdd9;
      }
    }
    li:first-child{
      text-align: right;
    }
    li:nth-child(2){
      text-align: left;
    }

  }
  span{
    display: block;
    color: #7f828f;
    font-size: 14px;
  }
}
