<<<<<<< HEAD
header {
  nav, nav-user, nav-admin {
    li {
=======
header{
  nav, nav-user{
    li{
>>>>>>> origin/dev
      display: inline-block;
      float: right;
    }
  }
}

.container, .container-fluid {
  padding: 0 !important;
}

.header {
  background-color: #7B19F4;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  .logo {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 75px;
    img {
      width: 93px;
    }
  }
  .header-navbar {
     height: 93px;
     max-width: 100%;
    li {
      &.selected {
        a {
          background-color: #CCA6FB;
          color: #000;
        }
      }
      border-right: 1px solid #FFF;
      height: 93px;
      text-transform: uppercase;
      padding: 0;
      animation-duration: 1s;
      font-size: 12px;
      a {
        clear: both;
        color: #FFF;
        text-decoration: none;
        display: block;
        height: 100%;
        width: 100%;
        padding: 15px;
        padding-top: 40px;
        vertical-align: middle;
      }
      a:hover {
        background-color: #CCA6FB;
        color: #000;
      }
    }
    li:first-child {
      border: 0;
      margin-right: 20px;
    }
  }

  nav-admin{
    #sidebar-wrapper {
      z-index: 1000;
      position: fixed;
      top:0;
      width: 250px;
      bottom:0;
      background: #000;
      .sidebar-nav {
        background: #2b303b;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        color: rgba(120, 129, 149, 0.92);
        li {
          line-height: 40px;
          a {
            display: block;
            color: #999999;
            &:hover {
              text-decoration: none;
              color: #fff;
              background: rgba(255,255,255,0.2);
            }
            &:active,&:focus{
              text-decoration: none;
            }
          }
          &:not(.sidebar-brand) {
            margin-bottom: 30px;
            a{
              padding-left: 20px;
              &.active{
                color: white;
              }
            .fa{
              width: 40px;
              height: 40px;
              text-align: center;
              line-height: 40px;
              background: #21252d;
              color: rgba(120, 129, 149, 0.92);
              font-size: 18px;
              position: absolute;
              right: 30px;
            }
            }
          }
        }
        .sidebar-brand {
          height: 60px;
          margin-bottom: 30px;
          a {
            text-align: center;
            font-size: 16px;
            line-height: 60px;
            background-color: #242731;
            color: #9eacb5;

            &:hover {
              color: #fff;
            }
          }
        }
      }

    }
  }
}