header nav li, header nav-user li, header nav-admin li {
  display: inline-block;
  float: right; }

.container, .container-fluid {
  padding: 0 !important; }

.header {
  background-color: #7B19F4;
  color: #FFF;
  font-family: 'Roboto', sans-serif; }
  .header .logo {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 75px; }
    .header .logo img {
      width: 93px; }
  .header .header-navbar {
    height: 93px;
    max-width: 100%; }
    .header .header-navbar li {
      border-right: 1px solid #FFF;
      height: 93px;
      text-transform: uppercase;
      padding: 0;
      animation-duration: 1s;
      font-size: 12px; }
      .header .header-navbar li.selected a {
        background-color: #CCA6FB;
        color: #000; }
      .header .header-navbar li a {
        clear: both;
        color: #FFF;
        text-decoration: none;
        display: block;
        height: 100%;
        width: 100%;
        padding: 15px;
        padding-top: 40px;
        vertical-align: middle; }
      .header .header-navbar li a:hover {
        background-color: #CCA6FB;
        color: #000; }
    .header .header-navbar li:first-child {
      border: 0;
      margin-right: 20px; }
