
.page {
  padding-top: 80px;
  .row{
    margin-left: 0px;
    margin-right: 0px;
  }
  font-family: 'Roboto', sans-serif;
  color: #000;
  .hero {
    text-align: center;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 80px;
    background: url("../../public/img/glasses-lenses.jpg") no-repeat center;
    h1 {
      letter-spacing: 20px;
      font-size: 70px;
    }
    img {
      width: 100%;
    }
    div {
      margin-top: 20px;
      a {
        border: 1px solid #FFF;
        color: #FFF;
        border-radius: 17px;
        letter-spacing: 2px;
        padding: 7px 15px;
        &:hover {
          background-color: #FFF;
          color: #000;
          text-decoration: none;
        }
      }
    }
  }
  &.product {
    .hero{
      background: url("../../public/img/hero-lens-detail2.jpg") no-repeat center;
      background-size: 100% auto;
    }
    text-align: center;
    color: #FFF;
    background-color: #F5F5F5;
    .container {
      padding: 40px 0px;
      .search-container {
        #product-name {
          display: inline-block;
        }
        .btn-search {
          margin-bottom: 0;
          width: 90px;
          display: inline-block;
        }
      }
      .collapse-tab {
        margin-bottom: 10px;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: #3e5e76;
      }
      .supplier-container {
        padding: 10px;
        padding-left: 50px;
        padding-top: 0;
        margin-top: 10px;
        background-color: #fff;
        color: #000;
        border-bottom: 1px solid #f3f5f8;
        h1 {
          margin: 0;
          background-color: #e0e4ea;
          padding: 10px;
        }
        .item-container {
          .item {
            margin-top: 10px;
            line-height: 60px;
            border-radius: 5px;
            background-color: #ffffff;
            border: solid 1px #e0e4ea;
            .item-picture {
              max-height: 100px;
              max-width: 120px;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .item-action {
              button {
                background-color: #e0e4ea;
              }
            }
          }
        }
      }
    }
  }
  &.about {
    .hero{
      background: url("../../public/img/hero-lens-schema.jpg") no-repeat center;
      background-size: 100% auto;
    }
    .president-message {
      padding: 20px;
      margin-top: 30px;
      h2 {
        font-weight: bold;
        text-align: center;
        span {
          color: #7B19F4;
        }
      }
      p {
        font-size: 16px;
        padding-left: 80px;
        padding-right: 80px;
        margin-bottom: 20px;
        &.top {
          padding-top: 40px;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            border-top: 2px solid #000;
            border-right: 2px solid #000;
            width: 200px;
            height: 80px;
          }
        }
        &.bottom {
          padding-bottom: 40px;
          padding-top: 15px;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            border-bottom: 2px solid #000;
            border-left: 2px solid #000;
            height: 80px;
            width: 200px;
          }
        }
      }
      .signature {
        color: #7B19F4;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
        margin-left: 40px;
        p {
          padding: 0;
          margin-bottom: 0;
        }
      }
    }
    .history {
      background-color: #efefef;
      padding: 40px;
      padding-top: 80px;
      padding-bottom: 80px;
      img {
        border-radius: 10px;
        width: 100%;
      }
      h5 {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 20px;
        span {
          color: #7B19F4;
        }
      }
      .history-content {
        border-left: 1px solid #7B19F4;
        padding-left: 10px;
        p {
          span {
            font-weight: bold;
            &:first-child {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
  &.login {
    .hero{
      background: url("../../public/img/hero-lens-sf.jpg") no-repeat center;
      background-size: 100% auto;
    }
    position: relative;
    text-align: center;
    h1 {
      font-weight: bold;
    }
    form {
      padding: 10px;
      position: relative;
      .user {
        margin-top: 20px;
        .form-group {
          text-align: left;
        }
        &:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          border-bottom: 2px solid #000;
          border-left: 2px solid #000;
          height: 80px;
          width: 200px;
        }
      }
      .submit {
        margin-bottom: 20px;
        &:before {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          border-top: 2px solid #000;
          border-right: 2px solid #000;
          width: 200px;
          height: 80px;
        }
      }
    }
  }
  &.home {
    .hero{
      background: url("../../public/img/hero-lens-detail.jpg") no-repeat center;
      background-size: 100% auto;
    }
    text-align: center;
    color: #FFF;
    font-family: Roboto, sans-serif;
    .homepage-description {
      color: #000;
      padding: 10px;
      padding-bottom: 60px;
      h4 {
        padding: 40px 0 30px;
        font-weight: bold;
      }
      .display-glass {
        .img-container {
          background: url("../../public/img/optical-glass.jpg") no-repeat center;
          background-size: 100% 100%;
        }
      }
      .display-lens {
        .img-container {
          background: url("../../public/img/optical-lens.jpg") no-repeat center;
          background-size: 100% 100%;
        }
      }
      .products-display {
        .product-display {
          padding: 0px !important;
          background-color: #F5F5F5;
          border: solid 1px #e0e4ea;
          .img-container {
            width: 100%;
            height: 170px;
          }
          .product-desc {
            span {
              display: block;
              padding: 5px;
            }

          }
        }
        .product-desc {

        }
      }
    }
  }
  &.engagement {
    .hero{
      background: url("../../public/img/hero-lens-sf.jpg") no-repeat center;
      background-size: 100% auto;
    }
    color: #000;
    .engagement-content {
      padding: 10px;
      h2 {
        text-align: center;
        margin: 30px;
        font-weight: bold;
        span {
          color: #7B19F4;
        }
      }
    }
  }
  &.register {
    .hero{
      background: url("../../public/img/hero-lens-schema.jpg") no-repeat center;
      background-size: 100% auto;
    }
    padding: 10px;
    .page-container {
      h1 {
        text-align: center;
        font-weight: bold;
      }
      form {
        padding: 20px;
        position: relative;
        margin-bottom: 50px;
        margin-top: 30px;
        .form-buttons {
          text-align: center;
        }
      }
    }
  }
  &.signin {
    .hero{
      background: url("../../public/img/hero-lens-schema.jpg") no-repeat center;
      background-size: 100% auto;
    }
    .page-container {
      .btn-container {
        padding: 90px 0px;
        a{
          text-decoration: none;
          color: #fff;
          button {
            font-size: 23px;
            font-weight: 500;
            line-height: 10px;
            letter-spacing: 3px;
            margin: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            border: solid 1px #e0e4ea;
            border-radius: 3px;
            background-color: #10cfbd;
            padding: 20px;
            color: #fff;
          }
          button:hover{
            background-color: rgba(16, 207, 189, 0.6);
            border-color: transparent;
          }
        }
      }
    }
  }

}

.user{
    .container{
      h1{
        text-align: center;
      }
      .container-products{
        background-color: #F9F9F9;
        margin: 20px;
        .product-display{
          margin:0;
          height: 400px;
          h3{
            background-color: #e8e8e8;
            margin: 0;
            padding-top: 15px;
            padding-bottom: 10px;
          }
          .product-img{
            padding-left: 0;
            padding-right: 0;
            height: 100%;
            img{
              width: 100%;
              height: 100%;
            }
          }
          .product-desc{
            padding-left: 0;
            padding-right: 0;
            text-align: center;
            .product-desc-items{
              h3{
                margin: 0;
                padding-top: 30px;
                padding-bottom: 30px;
                background-color: #d8d8d8;
                border-bottom: 2px solid #7B19F4;
              }
            }
          }
          .btn-show-produit{
            margin-top: 140px;
            width: 35%;
            border-radius: 0;
            padding-bottom: 10px;
            padding-top: 10px;
            color: #d8d8d8;
            background-color: #7B19F4;
          }
          .btn-show-produit:hover{
            color: #7B19F4;
            background-color: #d8d8d8;
            transition: 0.3s;
          }
        }
      }
    }
  .container-product-display{
    .img-container{
      height: 300px;
      width: 100%;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .page {
    &.product {
      .page-container {
        .hero {
          color: #000;
          img {
            display: none;
          }
          .img-overlay {
            position: relative;
            .title {
              text-align: center;
              font-size: 20px;
            }
            .center {
              display: none;
            }
            .block {
              margin: 0;
            }
          }
        }
      }
    }
    &.engagement {
      .hero {
        background-color: transparent;
        .carousel {
          display: none;
        }
        .img-overlay {
          position: relative;
          h5 {
            padding: 0;
            font-weight: bold;
            font-size: 17px;
          }
          p {
            margin-top: 0;
          }
        }
      }
    }
  }
}
td {
  border: 1px solid;
  padding: 2px;
}

.user {
  padding: 10px;
  hr {
    border-color: #e0e4ea;
  }
  .profile {
    .shops {
      margin-top: 20px;
    }
    .back-array {
      border: 2px solid #e0e4ea;
      border-radius: 5px;
      padding: 0;
      background-color: #FFF;
      h4 {
        font-weight: bold;
        background-color: #f8f9fb;
        margin: 0;
        padding: 10px;
      }
      .row {
        margin: 0;
        border-bottom: 1px solid #e0e4ea;
        div{
          &.col-md-12, &.col-md-6 {
            padding: 10px;
          }
        }
      }
    }
  }
}

.content {
  &.product-list, &.product-cart, &.product-command-list, &.admin-validation, &.facture-list {
    padding: 20px;
    hr {
      border: solid 1px #e0e4ea;
      width: 97%;
    }
    .status {
      width: 40px;
    }
    .status-color {
      height: 10px;
      width: 10px;
      background-color: #48b0f7;
      border-radius: 10px;
    }
    .collapse-tab {
      margin-bottom: 10px;
      font-weight: bold;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: #3e5e76;
    }
    .collapse-content {
      button {
        padding: 5px 10px;
        background-color: #fff;
        border: 1px solid #e0e4ea;
        border-radius: 3px;
      }
      .product {
        border: 1px solid #e0e4ea;
        border-radius: 3px;
        .collapse-head {
          line-height: 80px;
        }
        .collapse-body {
          .well {
            min-height: 40px;
          }
        }
        input[type="checkbox"]{
          margin-top: 30%;
          width: 40px;
          height: 40px;
        }
        button {
          margin-top: 40%;
          line-height: 0;
        }
      }
    }
  }
  &.product-cart {
    select {
      margin-bottom: 20px;
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 10px;
      height: 40px;
      border-radius: 3px;
      background-color: #ffffff;
      border: solid 1px #e0e4ea;
    }
    .total {
      height: 80px;
      border-radius: 5px;
      background-color: #ffffff;
      border: solid 1px #e0e4ea;
      font-family: 'Open Sans';
      font-size: 15px;
      text-transform: uppercase;
      color: #3e5e76;
      padding-top: 2%;
      .price {
        font-size: 15px;
        color: #48b0f7;
      }
      button {
        width: 180px;
        height: 36px;
      }
    }
  }
  &.admin-subscribe, &.product-price {
    h2 {
      width: 95%;
      margin: auto;
      margin-top: 20px;
      text-align: left;
      font-family: 'Open Sans';
    }
    hr {
      width: 95%;
      border-color: #e0e4ea;
    }
    button {
      width: 150px;
      height: 42px;
      border-radius: 3px;
      color: #FFF;
      background-color: #10cfbd;
      margin-bottom: 40px;
      border: 0;
      &:hover {
        background-color: rgba(16, 207, 189, 0.6);
        border-color: transparent;
      }
    }
  }
  &.admin-subscribe {
    input {
      height: 36px;
      border-radius: 3px;
      border: 1px solid #e0e4ea;
      width: 100%;
      background-color: #FFF;
      margin-bottom: 25px;
    }
    label {
      font-weight: bold;
      font-family: 'Open Sans';
    }
  }
  &.facture-list {
    .status-0, .status-false {
      background-color: #a70e15;
    }
    .status-1, .status-true {
       background-color: #276d1c;
     }
  }
  &.product-command-list {
    button {
      margin-top: 40%;
    }
    .status-0 {
      background-color: #276d1c;
    }
    .status-1 {
      background-color: #a70e15;
    }
    .status-2 {
      background-color: #E9DC51;
    }
  }
  &.product-price, &.product-command-list, &.product-list {
    table {
      border-radius: 3px;
      text-align: center;
      margin: auto;
      width: 80%;
      margin-left: 5%;
      margin-top: 20px;
      thead {
        background-color: #f8f9fb;
        border: solid 1px #e0e4ea;
        font-weight: bold;
      }
      tr {
        background-color: #fff;
        border: solid 1px #e0e4ea;
      }
      td {
        height: 42px;
        border: 0;
        border-right: 1px solid #e0e4ea;
        padding: 15px;
      }
    }
  }
}

.modal-body {
  label {
    font-weight: bold;
    font-family: HelveticaNeue-Medium;
    font-size: 14px;
    color: #22282b;
  }
  select, input[type="text"], input[type="number"] {
    height: 36px;
    border-radius: 3px;
    border: solid 1px #e0e4ea;
    width: 100%;
    background-color: #FFF;
    margin-bottom: 25px;
  }
  h2 {
    font-family: HelveticaNeue;
    font-size: 21px;
    color: #22282b;
    text-align: center;
    margin-bottom: 40px;
  }
  .add-product {
    h3 {
      font-family: HelveticaNeue-Medium;
      font-size: 16px;
      color: #22282b;
      text-align: center;
    }
    button {
      width: 150px;
      height: 36px;
      border-radius: 3px;
      background-color: #10cfbd;
      color: #FFF;
      border-color: transparent;
      font-family: HelveticaNeue-Medium;
      font-size: 13px;
    }
  }
  .new-product {
    button {
      width: 100%;
      height: 36px;
      border-radius: 3px;
      background-color: #10cfbd;
      color: #FFF;
      border-color: transparent;
      font-family: HelveticaNeue-Medium;
      font-size: 13px;
    }
    input[type="checkbox"] {
      margin-left: 10px;
      margin-right: 10px;
    }
    .photo {
      border-radius: 5px;
      border: solid 1px #e0e4ea;
      width: 100px;
      height: 100px;
      margin-left: 50px;
      overflow: hidden;
      img {
        height: 100%;
      }
    }
    .upload-button {
      border-radius: 3px;
      background-color: #48b0f7;
      padding: 5px;
      color: #FFF;
      width: 80%;
      text-align: center;
      margin-top: 15%;
    }
    .row {
      margin-bottom: 10px;
    }
  }
  .validate-form {
    input {
      height: 36px;
      border-radius: 3px;
      border: solid 1px #e0e4ea;
    }
    input[type="radio"], input[type="checkbox"] {
      height: 15px !important;
    }
    label {
      margin-top: 10px;
    }
    .validate-button {
      text-align: center;
      margin-top: 30px;
      button {
        width: 150px;
        height: 42px;
        border-radius: 3px;
        color: #FFF;
        background-color: #10cfbd;
        margin-bottom: 40px;
        border: 0;
        &:hover {
          background-color: rgba(16, 207, 189, 0.6);
          border-color: transparent;
        }
      }
    }
  }
}