.page {
  font-family: 'Roboto', sans-serif;
  color: #000;
  &.product {
    .page-container {
      .hero {
        position: relative;
        width: 100%;
        color: #FFF;
        font-weight: bold;
        img {
          width: 100%;
        }
        .img-overlay {
          position: absolute;
          width: 100%;
          .title {
            border-bottom: 2px solid #FFF;
            padding: 30px;
          }
          .center {
            margin-top: 3%;
          }
          .block {
            margin-top: 10%;
            p {
              text-align: center;
            }
          }
        }
      }
      .product-content {
        padding: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
        .bordered {
          border: 2px solid #000;
          padding: 15px;
          text-align: center;
          h5 {
            font-weight: bold;
            font-size: 16px;
            text-transform: uppercase;
            img {
              height: 18px;
            }
            span {
              color: #7B19F4;
            }
          }
          &.top {
            border-bottom: 0;
          }
          &.bottom {
            border-top: 0;
          }
        }
        .border-bottom {
          border-bottom: 2px solid #000;
          height: 100%;
        }
      }
    }
  }
  &.about {
    .president-message {
      padding: 20px;
      margin-top: 30px;
      h2 {
        font-weight: bold;
        text-align: center;
        span {
          color: #7B19F4;
        }
      }
      p {
        font-size: 16px;
        padding-left: 80px;
        padding-right: 80px;
        margin-bottom: 20px;
        &.top {
          padding-top: 40px;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            border-top: 2px solid #000;
            border-right: 2px solid #000;
            width: 200px;
            height: 80px;
          }
        }
        &.bottom {
          padding-bottom: 40px;
          padding-top: 15px;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            border-bottom: 2px solid #000;
            border-left: 2px solid #000;
            height: 80px;
            width: 200px;
          }
        }
      }
      .signature {
        color: #7B19F4;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
        margin-left: 40px;
        p {
          padding: 0;
          margin-bottom: 0;
        }
      }
    }
    .history {
       background-color: #efefef;
       padding: 40px;
       padding-top: 80px;
       padding-bottom: 80px;
       img {
         border-radius: 10px;
         width: 100%;
       }
       h5 {
         text-align: center;
         font-weight: bold;
         font-size: 20px;
         margin-bottom: 20px;
         span {
           color: #7B19F4;
         }
       }
       .history-content {
         border-left: 1px solid #7B19F4;
         padding-left: 10px;
         p {
           span {
             font-weight: bold;
             &:first-child {
               margin-bottom: 10px;
             }
           }
         }
       }
     }
  }
  &.login {
    position: relative;
    padding: 20px;
    text-align: center;
    h1 {
      font-weight: bold;
    }
    form {
      padding: 10px;
      position: relative;
      .user {
        margin-top: 20px;
        .form-group {
          text-align: left;
        }
        &:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          border-bottom: 2px solid #000;
          border-left: 2px solid #000;
          height: 80px;
          width: 200px;
        }
      }
      .submit {
        margin-bottom: 20px;
        button {
          color: #FFF;
          background-color: #000;
          width: 120px;
          padding: 10px;
        }
        &:before {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          border-top: 2px solid #000;
          border-right: 2px solid #000;
          width: 200px;
          height: 80px;
        }
      }
    }
  }
  &.home {
    text-align: center;
    color: #FFF;
    font-family: Roboto, sans-serif;
    .hero {
      font-weight: bold;
      letter-spacing: 2px;
      padding: 10px;
      padding-bottom: 40px;
      background-image: url("../../public/img/home.png");
      img {
        width: 100%;
      }
      div {
        margin-top: 20px;
        a {
          border: 1px solid #FFF;
          color: #FFF;
          border-radius: 17px;
          letter-spacing: 2px;
          padding: 7px 15px;
          &:hover {
            background-color: #FFF;
            color: #000;
            text-decoration: none;
          }
        }
      }
    }
    .homepage-description {
      color: #000;
      padding: 10px;
      padding-bottom: 60px;
      background-image: url("../../public/img/home-back-bottom.png");
      h4 {
        padding: 60px 0 60px;
        font-weight: bold;
      }
    }
  }
  &.engagement {
    color: #000;
    .hero {
      background-color: #efefef;
      .carousel {
        height: 400px;
        overflow: hidden;
        .carousel-indicators {
          li {
            border-color: #000;
            height: 20px;
            width: 20px;
            border-radius: 10px;
            &.active {
              background-color: #000;
            }
          }
        }
        .item {
          img {
            width: 100%;
          }
        }
      }
      .img-overlay {
        position: absolute;
        z-index: 90;
        width: 100%;
        text-align: center;
        font-size: 16px;
        h5 {
          padding: 50px;
          font-weight: bold;
          font-size: 17px;
        }
        p {
          margin-top: 170px;
        }
      }
    }
    .engagement-content {
      padding: 10px;
      h2 {
        text-align: center;
        margin: 30px;
        font-weight: bold;
        span {
          color: #7B19F4;
        }
      }
    }
  }
  &.register {
    padding: 10px;
    .page-container {
      h1 {
        text-align: center;
        font-weight: bold;
      }
      form {
        padding: 20px;
        position: relative;
        margin-bottom: 50px;
        margin-top: 30px;
        .form-buttons {
          z-index: 90;
          width: 100%;
          text-align: center;
          button {
            background-color: transparent;
            border: 0;
            color: #7B19F4;
            font-weight: bold;
            span {
              font-size: 20px;
              width: 35px;
              height: 35px;
              display: inline-block;
              border-radius: 22px;
              border: 2px solid;
            }
            &:hover {
              color: rgba(123, 29, 255, 0.53);
            }
          }
        }
        &:before {
          position: absolute;
          top: 0;
          right: 0;
          content: "";
          border-top: 3px solid #000;
          border-right: 3px solid #000;
          width: 160px;
          height: 90px;
        }
        &:after {
          position: absolute;
          bottom: 0;
          left: 0;
          content: "";
          border-bottom: 3px solid #000;
          border-left: 3px solid #000;
          width: 160px;
          height: 90px;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .page {
    &.product {
      .page-container {
        .hero {
          color: #000;
          img {
            display: none;
          }
          .img-overlay {
            position: relative;
            .title {
              text-align: center;
              font-size: 20px;
            }
            .center {
              display: none;
            }
            .block {
              margin: 0;
            }
          }
        }
      }
    }
    &.engagement {
      .hero {
        background-color: transparent;
        .carousel {
          display: none;
        }
        .img-overlay {
          position: relative;
          h5 {
            padding: 0;
            font-weight: bold;
            font-size: 17px;
          }
          p {
            margin-top: 0;
          }
        }
      }
    }
  }
}
td {
  border: 1px solid;
  padding: 2px;
}

.user {
  padding: 10px;
  hr {
    border-color: #e0e4ea;
  }
  .profile {
    .shops {
      margin-top: 20px;
    }
    .back-array {
      border: 2px solid #e0e4ea;
      border-radius: 5px;
      padding: 0;
      background-color: #FFF;
      h4 {
        font-weight: bold;
        background-color: #f8f9fb;
        margin: 0;
        padding: 10px;
      }
      .row {
        margin: 0;
        border-bottom: 1px solid #e0e4ea;
        div{
          &.col-md-12, &.col-md-6 {
            padding: 10px;
          }
        }
      }
    }
  }
}

.content {
  &.product-list {
    padding: 20px;
    hr {
      border: solid 1px #e0e4ea;
      width: 97%;
    }
    button {
      height: 28px;
      border-radius: 3px;
      background-color: #ffffff;
      border: solid 1px #e0e4ea;
      padding-left: 13px;
      padding-right: 13px;
      &:hover {
        background-color: #e0e4ea;
        border-color: #878787;
      }
      &.add-modale {
        width: 150px;
        height: 36px;
        border-radius: 3px;
        color: #FFF;
        background-color: #10cfbd;
        margin-bottom: 40px;
        &:hover {
          background-color: rgba(16, 207, 189, 0.6);
        }
      }
    }
    .collapse-tab {
      margin-bottom: 10px;
      font-weight: bold;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: #3e5e76;
    }
    .collapse-content {
      .product {
        border: 1px solid #e0e4ea;
        border-radius: 3px;
        input[type="checkbox"]{
          margin-top: 30%;
          width: 40px;
          height: 40px;
        }
        button {
          margin-top: 50%;
        }
      }
    }
  }
}

.modal-body {
  label {
    font-weight: bold;
    font-family: HelveticaNeue-Medium;
    font-size: 14px;
    color: #22282b;
  }
  select, input[type="text"], input[type="number"] {
    height: 36px;
    border-radius: 3px;
    border: solid 1px #e0e4ea;
    width: 100%;
    background-color: #FFF;
    margin-bottom: 25px;
  }
  h2 {
    font-family: HelveticaNeue;
    font-size: 21px;
    color: #22282b;
    text-align: center;
    margin-bottom: 40px;
  }
  .add-product {
    h3 {
      font-family: HelveticaNeue-Medium;
      font-size: 16px;
      color: #22282b;
      text-align: center;
    }
    button {
      width: 150px;
      height: 36px;
      border-radius: 3px;
      background-color: #10cfbd;
      color: #FFF;
      border-color: transparent;
      font-family: HelveticaNeue-Medium;
      font-size: 13px;
    }
  }
  .new-product {
    button {
      width: 100%;
      height: 36px;
      border-radius: 3px;
      background-color: #10cfbd;
      color: #FFF;
      border-color: transparent;
      font-family: HelveticaNeue-Medium;
      font-size: 13px;
    }
    input[type="checkbox"] {
      margin-left: 10px;
      margin-right: 10px;
    }
    .photo {
      border-radius: 5px;
      border: solid 1px #e0e4ea;
      width: 100px;
      height: 100px;
      margin-left: 50px;
      overflow: hidden;
      img {
        height: 100%;
      }
    }
    .upload-button {
      border-radius: 3px;
      background-color: #48b0f7;
      padding: 5px;
      color: #FFF;
      width: 80%;
      text-align: center;
      margin-top: 15%;
    }
    .row {
      margin-bottom: 10px;
    }
  }
}