@import './components/theme_variables';
body{
  font-family: $font-family;






.admin {
  &.wrapper{
    position: fixed;
    left: 250px;
    right: 0;
    bottom: 0;
    top: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #f1f1f1;
    .panel{
      margin: 30px ;
      .panel-body{
        height:300px;
        overflow: scroll;
        .userInfo{
          .well{
            text-overflow:ellipsis;
            overflow:hidden;
          }
        }

      }
    }
  }
}







  // Form Component

}
