@import './components/theme_variables';
body{
  font-family: $font-family;






.admin, .user {
  &.wrapper{
    position: fixed;
    left: 250px;
    right: 0;
    bottom: 0;
    top: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #f1f1f1;
  }
}

  .admin{
    &,.wrapper{
      .content{
        .collapse-content{
          div.product{
            background: white;
            padding: 10px 10px 0;
            margin: 15px 0px;
            .collapse-head{
              height: 80px;
            }
            .collapse-body {

              height: 0px;
              overflow: scroll;
              display: block;
              transition:height 1s ease;
              background: #f1f1f1;
              margin-top: 15px;

              &.active{
                height: 300px;
                margin-bottom: 15px;
              }
            }
          }

        }
      }
    }
  }






  // Form Component

}
