@import './components/theme_variables';
html{
  height: 100%;
  body{
    font-family: $font-family;
    height: 100%;


      .wrapper{
        min-height: 80%;
        background-color: #f5f5f5;
      }
    .admin, .user {
      &.wrapper{
        position: fixed;
        left: 250px;
        right: 0;
        bottom: 0;
        top: 0px;
        overflow-y: scroll;
        overflow-x: hidden;
        background: #f1f1f1;
      }
    }

    .admin, .user{
      &,.wrapper{
        .content{
          .collapse-content{
            div.product{
              background: white;
              padding: 10px 10px 0;
              margin: 15px 0px;
              .collapse-head{
                height: 80px;
                img{
                  margin-top: -7px;
                  width: 200px;
                  height: 100px;
                }
                .col-md-3:last-of-type{
                  .col-md-6:last-of-type{
                    width: 16%;
                  }
                }
              }
              .collapse-body {

                height: 0px;
                overflow: scroll;
                display: block;
                transition:height 1s ease;
                background: #f1f1f1;
                margin-top: 15px;
                img{
                  width: 800px;
                  height: 400px;
                }
                &.active{
                  height: 300px;
                  margin-bottom: 15px;
                }
              }
            }

          }
        }
      }
    }






    // Form Component

  }

}
