.form-buttons {
  text-align: center;
}

button {
  &.add-modale, &.validate-cart, &.default {
    width: 210px;
    height: 46px;
    border-radius: 3px;
    color: #FFF;
    background-color: #7570ff;
    margin-bottom: 40px;
    padding-left: 13px;
    padding-right: 13px;
    &:hover {
      color: #fff;
      background-color: rgba(16, 207, 189, 0.6);
      border-color: transparent;
    }
  }
}