.page {
  font-family: "Open Sans";
  padding-top: 80px;
  font-family: 'Roboto', sans-serif;
  color: #000; }
  .page .row {
    margin-left: 0px;
    margin-right: 0px; }
  .page .hero {
    text-align: center;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 80px;
    background: url("../../public/img/glasses-lenses.jpg") no-repeat center; }
    .page .hero h1 {
      letter-spacing: 20px;
      font-size: 70px; }
    .page .hero img {
      width: 100%; }
    .page .hero div {
      margin-top: 20px; }
      .page .hero div a {
        border: 1px solid #FFF;
        color: #FFF;
        border-radius: 17px;
        letter-spacing: 2px;
        padding: 7px 15px; }
        .page .hero div a:hover {
          background-color: #FFF;
          color: #000;
          text-decoration: none; }
  .page.product {
    text-align: center;
    color: #FFF;
    background-color: #F5F5F5; }
    .page.product .action-button {
      margin-top: 25px; }
    .page.product .status-0 {
      color: #276d1c; }
    .page.product .status-1 {
      color: #a70e15; }
    .page.product .status-2 {
      color: #E9DC51; }
    .page.product .collapse-content div.product {
      color: #3e5e76;
      background: white;
      padding: 10px 10px 0;
      margin: 15px 0px; }
      .page.product .collapse-content div.product .collapse-head {
        height: 80px; }
      .page.product .collapse-content div.product .collapse-body {
        height: 0px;
        overflow: scroll;
        display: block;
        transition: height 1s ease;
        background: #f1f1f1;
        margin-top: 15px; }
        .page.product .collapse-content div.product .collapse-body.active {
          height: 300px;
          margin-bottom: 15px; }
    .page.product .hero {
      background: url("../../public/img/hero-lens-detail2.jpg") no-repeat center;
      background-size: 100% auto; }
    .page.product .container {
      padding: 40px 0px; }
      .page.product .container .search-container #product-name {
        display: inline-block; }
      .page.product .container .search-container .btn-search {
        margin-bottom: 0;
        width: 90px;
        display: inline-block; }
      .page.product .container .collapse-tab {
        margin-bottom: 10px;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: #3e5e76; }
      .page.product .container .supplier-container {
        padding: 10px;
        padding-left: 50px;
        padding-top: 0;
        margin-top: 10px;
        background-color: #fff;
        color: #000;
        border-bottom: 1px solid #f3f5f8; }
        .page.product .container .supplier-container h1 {
          margin: 0;
          background-color: #e0e4ea;
          padding: 10px; }
        .page.product .container .supplier-container .item-container .item {
          margin-top: 10px;
          line-height: 60px;
          border-radius: 5px;
          background-color: #ffffff;
          border: solid 1px #e0e4ea; }
          .page.product .container .supplier-container .item-container .item .item-picture {
            max-height: 100px;
            max-width: 120px; }
            .page.product .container .supplier-container .item-container .item .item-picture img {
              width: 100%;
              height: 100%; }
          .page.product .container .supplier-container .item-container .item .item-action button {
            background-color: #e0e4ea; }
    .page.product table {
      border-radius: 3px;
      text-align: center;
      margin: auto;
      width: 80%;
      margin-left: 5%;
      margin-top: 20px; }
      .page.product table thead {
        background-color: #f8f9fb;
        border: solid 1px #e0e4ea;
        font-weight: bold; }
      .page.product table tr {
        background-color: #fff;
        border: solid 1px #e0e4ea; }
      .page.product table td {
        height: 42px;
        border: 0;
        border-right: 1px solid #e0e4ea;
        padding: 15px; }
  .page.about .hero {
    background: url("../../public/img/hero-lens-schema.jpg") no-repeat center;
    background-size: 100% auto; }
  .page.about .president-message {
    padding: 20px;
    margin-top: 30px; }
    .page.about .president-message h2 {
      font-weight: bold;
      text-align: center; }
      .page.about .president-message h2 span {
        color: #7B19F4; }
    .page.about .president-message p {
      font-size: 16px;
      padding-left: 80px;
      padding-right: 80px;
      margin-bottom: 20px; }
      .page.about .president-message p.top {
        padding-top: 40px;
        position: relative; }
        .page.about .president-message p.top:before {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          border-top: 2px solid #000;
          border-right: 2px solid #000;
          width: 200px;
          height: 80px; }
      .page.about .president-message p.bottom {
        padding-bottom: 40px;
        padding-top: 15px;
        position: relative; }
        .page.about .president-message p.bottom:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          border-bottom: 2px solid #000;
          border-left: 2px solid #000;
          height: 80px;
          width: 200px; }
    .page.about .president-message .signature {
      color: #7B19F4;
      text-align: center;
      font-weight: bold;
      margin-bottom: 20px;
      margin-left: 40px; }
      .page.about .president-message .signature p {
        padding: 0;
        margin-bottom: 0; }
  .page.about .history {
    background-color: #efefef;
    padding: 40px;
    padding-top: 80px;
    padding-bottom: 80px; }
    .page.about .history img {
      border-radius: 10px;
      width: 100%; }
    .page.about .history h5 {
      text-align: center;
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 20px; }
      .page.about .history h5 span {
        color: #7B19F4; }
    .page.about .history .history-content {
      border-left: 1px solid #7B19F4;
      padding-left: 10px; }
      .page.about .history .history-content p span {
        font-weight: bold; }
        .page.about .history .history-content p span:first-child {
          margin-bottom: 10px; }
  .page.login {
    position: relative;
    text-align: center; }
    .page.login .hero {
      background: url("../../public/img/hero-lens-sf.jpg") no-repeat center;
      background-size: 100% auto; }
    .page.login h1 {
      font-weight: bold; }
    .page.login form {
      padding: 10px;
      position: relative; }
      .page.login form .user {
        margin-top: 20px; }
        .page.login form .user .form-group {
          text-align: left; }
        .page.login form .user:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          border-bottom: 2px solid #000;
          border-left: 2px solid #000;
          height: 80px;
          width: 200px; }
      .page.login form .submit {
        margin-bottom: 20px; }
        .page.login form .submit:before {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          border-top: 2px solid #000;
          border-right: 2px solid #000;
          width: 200px;
          height: 80px; }
  .page.home .homepage-description {
    padding: 40px 250px;
    text-align: center; }
    .page.home .homepage-description h1 {
      font-size: 30px;
      font-weight: 300;
      font-family: Roboto;
      color: #23252e; }
    .page.home .homepage-description p {
      color: #697782;
      font-size: 18px;
      font-weight: normal;
      margin-bottom: 50px;
      margin-top: 40px; }
    .page.home .homepage-description .homepage-element img {
      width: 100%;
      margin-bottom: 40px; }
    .page.home .homepage-description .homepage-element h1 {
      font-size: 27px; }
  .page.engagement {
    color: #000; }
    .page.engagement .hero {
      background: url("../../public/img/hero-lens-sf.jpg") no-repeat center;
      background-size: 100% auto; }
    .page.engagement .engagement-content {
      padding: 10px; }
      .page.engagement .engagement-content h2 {
        text-align: center;
        margin: 30px;
        font-weight: bold; }
        .page.engagement .engagement-content h2 span {
          color: #7B19F4; }
  .page.register {
    padding: 10px; }
    .page.register .hero {
      background: url("../../public/img/hero-lens-schema.jpg") no-repeat center;
      background-size: 100% auto; }
    .page.register .page-container h1 {
      text-align: center;
      font-weight: bold; }
    .page.register .page-container form {
      padding: 20px;
      position: relative;
      margin-bottom: 50px;
      margin-top: 30px; }
      .page.register .page-container form .form-buttons {
        text-align: center; }
      .page.register .page-container form .resume-hours {
        margin-bottom: 10px; }
  .page.signin .hero {
    background: url("../../public/img/hero-lens-schema.jpg") no-repeat center;
    background-size: 100% auto; }
  .page.signin .page-container .btn-container {
    padding: 90px 0px; }
    .page.signin .page-container .btn-container a {
      text-decoration: none;
      color: #fff; }
      .page.signin .page-container .btn-container a button {
        font-size: 23px;
        font-weight: 500;
        line-height: 10px;
        letter-spacing: 3px;
        margin: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        border: solid 1px #e0e4ea;
        border-radius: 3px;
        background-color: #10cfbd;
        padding: 20px;
        color: #fff; }
      .page.signin .page-container .btn-container a button:hover {
        background-color: rgba(16, 207, 189, 0.6);
        border-color: transparent; }

.user .container h1 {
  text-align: center; }

.user .container .container-products {
  background-color: #F9F9F9;
  margin: 20px; }
  .user .container .container-products .product-display {
    margin: 0;
    height: 400px; }
    .user .container .container-products .product-display h3 {
      background-color: #e8e8e8;
      margin: 0;
      padding-top: 15px;
      padding-bottom: 10px; }
    .user .container .container-products .product-display .product-img {
      padding-left: 0;
      padding-right: 0;
      height: 100%; }
      .user .container .container-products .product-display .product-img img {
        width: 100%;
        height: 100%; }
    .user .container .container-products .product-display .product-desc {
      padding-left: 0;
      padding-right: 0;
      text-align: center; }
      .user .container .container-products .product-display .product-desc .product-desc-items h3 {
        margin: 0;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #d8d8d8;
        border-bottom: 2px solid #7B19F4; }
    .user .container .container-products .product-display .btn-show-produit {
      margin-top: 140px;
      width: 35%;
      border-radius: 0;
      padding-bottom: 10px;
      padding-top: 10px;
      color: #d8d8d8;
      background-color: #7B19F4; }
    .user .container .container-products .product-display .btn-show-produit:hover {
      color: #7B19F4;
      background-color: #d8d8d8;
      transition: 0.3s; }

.user .container-product-display .img-container {
  height: 300px;
  width: 100%; }
  .user .container-product-display .img-container img {
    width: 100%;
    height: 100%; }

@media screen and (max-width: 991px) {
  .page.product .page-container .hero {
    color: #000; }
    .page.product .page-container .hero img {
      display: none; }
    .page.product .page-container .hero .img-overlay {
      position: relative; }
      .page.product .page-container .hero .img-overlay .title {
        text-align: center;
        font-size: 20px; }
      .page.product .page-container .hero .img-overlay .center {
        display: none; }
      .page.product .page-container .hero .img-overlay .block {
        margin: 0; }
  .page.engagement .hero {
    background-color: transparent; }
    .page.engagement .hero .carousel {
      display: none; }
    .page.engagement .hero .img-overlay {
      position: relative; }
      .page.engagement .hero .img-overlay h5 {
        padding: 0;
        font-weight: bold;
        font-size: 17px; }
      .page.engagement .hero .img-overlay p {
        margin-top: 0; } }

td {
  border: 1px solid;
  padding: 2px; }

.user {
  padding: 10px; }
  .user hr {
    border-color: #e0e4ea; }
  .user .profile .shops {
    margin-top: 20px; }
  .user .profile .back-array {
    border: 2px solid #e0e4ea;
    border-radius: 5px;
    padding: 0;
    background-color: #FFF; }
    .user .profile .back-array h4 {
      font-weight: bold;
      background-color: #f8f9fb;
      margin: 0;
      padding: 10px; }
    .user .profile .back-array .row {
      margin: 0;
      border-bottom: 1px solid #e0e4ea; }
      .user .profile .back-array .row div.col-md-12, .user .profile .back-array .row div.col-md-6 {
        padding: 10px; }

.content.product-list, .content.product-cart, .content.product-command-list, .content.admin-validation, .content.facture-list {
  padding: 20px; }
  .content.product-list hr, .content.product-cart hr, .content.product-command-list hr, .content.admin-validation hr, .content.facture-list hr {
    border: solid 1px #e0e4ea;
    width: 97%; }
  .content.product-list .status, .content.product-cart .status, .content.product-command-list .status, .content.admin-validation .status, .content.facture-list .status {
    width: 40px; }
  .content.product-list .status-color, .content.product-cart .status-color, .content.product-command-list .status-color, .content.admin-validation .status-color, .content.facture-list .status-color {
    height: 10px;
    width: 10px;
    background-color: #48b0f7;
    border-radius: 10px; }
  .content.product-list .collapse-tab, .content.product-cart .collapse-tab, .content.product-command-list .collapse-tab, .content.admin-validation .collapse-tab, .content.facture-list .collapse-tab {
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #3e5e76; }
  .content.product-list .collapse-content button, .content.product-cart .collapse-content button, .content.product-command-list .collapse-content button, .content.admin-validation .collapse-content button, .content.facture-list .collapse-content button {
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #e0e4ea;
    border-radius: 3px; }
  .content.product-list .collapse-content .product, .content.product-cart .collapse-content .product, .content.product-command-list .collapse-content .product, .content.admin-validation .collapse-content .product, .content.facture-list .collapse-content .product {
    border: 1px solid #e0e4ea;
    border-radius: 3px; }
    .content.product-list .collapse-content .product .collapse-head, .content.product-cart .collapse-content .product .collapse-head, .content.product-command-list .collapse-content .product .collapse-head, .content.admin-validation .collapse-content .product .collapse-head, .content.facture-list .collapse-content .product .collapse-head {
      line-height: 80px; }
    .content.product-list .collapse-content .product .collapse-body.active, .content.product-cart .collapse-content .product .collapse-body.active, .content.product-command-list .collapse-content .product .collapse-body.active, .content.admin-validation .collapse-content .product .collapse-body.active, .content.facture-list .collapse-content .product .collapse-body.active {
      height: 700px !important; }
    .content.product-list .collapse-content .product .collapse-body .well, .content.product-cart .collapse-content .product .collapse-body .well, .content.product-command-list .collapse-content .product .collapse-body .well, .content.admin-validation .collapse-content .product .collapse-body .well, .content.facture-list .collapse-content .product .collapse-body .well {
      min-height: 40px; }
    .content.product-list .collapse-content .product input[type="checkbox"], .content.product-cart .collapse-content .product input[type="checkbox"], .content.product-command-list .collapse-content .product input[type="checkbox"], .content.admin-validation .collapse-content .product input[type="checkbox"], .content.facture-list .collapse-content .product input[type="checkbox"] {
      margin-top: 30%;
      width: 40px;
      height: 40px; }
    .content.product-list .collapse-content .product button, .content.product-cart .collapse-content .product button, .content.product-command-list .collapse-content .product button, .content.admin-validation .collapse-content .product button, .content.facture-list .collapse-content .product button {
      margin-top: 40%;
      line-height: 0; }

.content.product-cart select {
  margin-bottom: 20px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  height: 40px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #e0e4ea; }

.content.product-cart .total {
  height: 80px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #e0e4ea;
  font-family: 'Open Sans';
  font-size: 15px;
  text-transform: uppercase;
  color: #3e5e76;
  padding-top: 2%; }
  .content.product-cart .total .price {
    font-size: 15px;
    color: #48b0f7; }
  .content.product-cart .total button {
    width: 180px;
    height: 36px; }

.content.product-cart .m-b-20 {
  margin-bottom: 20px; }

.content.product-cart .filter-input {
  width: 300px;
  height: 40px; }

.content.product-cart .suggestions {
  position: absolute;
  top: 40px;
  background-color: #FFF;
  z-index: 9;
  border: 1px solid #6D6D6D; }
  .content.product-cart .suggestions ul {
    width: 298px;
    border-bottom: 1px solid;
    margin-bottom: 0;
    text-align: center; }
    .content.product-cart .suggestions ul li a {
      display: block;
      width: 100%;
      padding: 5px 10px; }
      .content.product-cart .suggestions ul li a:hover {
        text-decoration: none; }
    .content.product-cart .suggestions ul:hover {
      background-color: #E0E4EA; }

.content.product-cart .cart-error {
  color: #810b10;
  visibility: hidden; }
  .content.product-cart .cart-error.visible {
    visibility: visible; }

.content.admin-subscribe h2, .content.product-price h2 {
  width: 95%;
  margin: auto;
  margin-top: 20px;
  text-align: left;
  font-family: 'Open Sans'; }

.content.admin-subscribe hr, .content.product-price hr {
  width: 95%;
  border-color: #e0e4ea; }

.content.admin-subscribe button, .content.product-price button {
  width: 150px;
  height: 42px;
  border-radius: 3px;
  color: #FFF;
  background-color: #10cfbd;
  margin-bottom: 40px;
  border: 0; }
  .content.admin-subscribe button:hover, .content.product-price button:hover {
    background-color: rgba(16, 207, 189, 0.6);
    border-color: transparent; }

.content.admin-subscribe input {
  height: 36px;
  border-radius: 3px;
  border: 1px solid #e0e4ea;
  width: 100%;
  background-color: #FFF;
  margin-bottom: 25px; }

.content.admin-subscribe label {
  font-weight: bold;
  font-family: 'Open Sans'; }

.content.facture-list .status-0, .content.facture-list .status-false {
  background-color: #a70e15; }

.content.facture-list .status-1, .content.facture-list .status-true {
  background-color: #276d1c; }

.content.product-command-list button {
  margin-top: 40%; }

.content.product-command-list .status-0 {
  background-color: #276d1c; }

.content.product-command-list .status-1 {
  background-color: #a70e15; }

.content.product-command-list .status-2 {
  background-color: #E9DC51; }

.content.product-price table, .content.product-command-list table, .content.product-list table {
  border-radius: 3px;
  text-align: center;
  margin: auto;
  width: 80%;
  margin-left: 5%;
  margin-top: 20px; }
  .content.product-price table thead, .content.product-command-list table thead, .content.product-list table thead {
    background-color: #f8f9fb;
    border: solid 1px #e0e4ea;
    font-weight: bold; }
  .content.product-price table tr, .content.product-command-list table tr, .content.product-list table tr {
    background-color: #fff;
    border: solid 1px #e0e4ea; }
  .content.product-price table td, .content.product-command-list table td, .content.product-list table td {
    height: 42px;
    border: 0;
    border-right: 1px solid #e0e4ea;
    padding: 15px; }

.faFile:before {
  content: "\f016" !important; }

.button-delete-cross {
  background-color: transparent;
  width: auto;
  height: auto;
  color: #000;
  font-size: 20px;
  border: 0; }

.time-display .timepicker-container label {
  display: block; }

.time-display .timepicker-container .timepicker {
  display: inline-block; }
  .time-display .timepicker-container .timepicker .glyphicon {
    color: #6BDED3; }

.time-display .timepicker-container p {
  display: inline-block;
  vertical-align: middle; }

.time-display button {
  display: block;
  margin-right: auto;
  margin-left: auto; }
