.page {
  font-family: 'Roboto', sans-serif;
  color: #000; }
  .page.product .page-container .hero {
    position: relative;
    width: 100%;
    color: #FFF;
    font-weight: bold; }
    .page.product .page-container .hero img {
      width: 100%; }
    .page.product .page-container .hero .img-overlay {
      position: absolute;
      width: 100%; }
      .page.product .page-container .hero .img-overlay .title {
        border-bottom: 2px solid #FFF;
        padding: 30px; }
      .page.product .page-container .hero .img-overlay .center {
        margin-top: 3%; }
      .page.product .page-container .hero .img-overlay .block {
        margin-top: 10%; }
        .page.product .page-container .hero .img-overlay .block p {
          text-align: center; }
  .page.product .page-container .product-content {
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px; }
    .page.product .page-container .product-content .bordered {
      border: 2px solid #000;
      padding: 15px;
      text-align: center; }
      .page.product .page-container .product-content .bordered h5 {
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase; }
        .page.product .page-container .product-content .bordered h5 img {
          height: 18px; }
        .page.product .page-container .product-content .bordered h5 span {
          color: #7B19F4; }
      .page.product .page-container .product-content .bordered.top {
        border-bottom: 0; }
      .page.product .page-container .product-content .bordered.bottom {
        border-top: 0; }
    .page.product .page-container .product-content .border-bottom {
      border-bottom: 2px solid #000;
      height: 100%; }
  .page.about .president-message {
    padding: 20px;
    margin-top: 30px; }
    .page.about .president-message h2 {
      font-weight: bold;
      text-align: center; }
      .page.about .president-message h2 span {
        color: #7B19F4; }
    .page.about .president-message p {
      font-size: 16px;
      padding-left: 80px;
      padding-right: 80px;
      margin-bottom: 20px; }
      .page.about .president-message p.top {
        padding-top: 40px;
        position: relative; }
        .page.about .president-message p.top:before {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          border-top: 2px solid #000;
          border-right: 2px solid #000;
          width: 200px;
          height: 80px; }
      .page.about .president-message p.bottom {
        padding-bottom: 40px;
        padding-top: 15px;
        position: relative; }
        .page.about .president-message p.bottom:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          border-bottom: 2px solid #000;
          border-left: 2px solid #000;
          height: 80px;
          width: 200px; }
    .page.about .president-message .signature {
      color: #7B19F4;
      text-align: center;
      font-weight: bold;
      margin-bottom: 20px;
      margin-left: 40px; }
      .page.about .president-message .signature p {
        padding: 0;
        margin-bottom: 0; }
  .page.about .history {
    background-color: #efefef;
    padding: 40px;
    padding-top: 80px;
    padding-bottom: 80px; }
    .page.about .history img {
      border-radius: 10px;
      width: 100%; }
    .page.about .history h5 {
      text-align: center;
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 20px; }
      .page.about .history h5 span {
        color: #7B19F4; }
    .page.about .history .history-content {
      border-left: 1px solid #7B19F4;
      padding-left: 10px; }
      .page.about .history .history-content p span {
        font-weight: bold; }
        .page.about .history .history-content p span:first-child {
          margin-bottom: 10px; }
  .page.login {
    position: relative;
    padding: 20px;
    text-align: center; }
    .page.login h1 {
      font-weight: bold; }
    .page.login form {
      padding: 10px;
      position: relative; }
      .page.login form .user {
        margin-top: 20px; }
        .page.login form .user .form-group {
          text-align: left; }
        .page.login form .user:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          border-bottom: 2px solid #000;
          border-left: 2px solid #000;
          height: 80px;
          width: 200px; }
      .page.login form .submit {
        margin-bottom: 20px; }
        .page.login form .submit button {
          color: #FFF;
          background-color: #000;
          width: 120px;
          padding: 10px; }
        .page.login form .submit:before {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          border-top: 2px solid #000;
          border-right: 2px solid #000;
          width: 200px;
          height: 80px; }
