<div class="content admin-validation">
    <button (click)="modalSubscribe.open(lg)" class="add-modale">Add a User</button>

    <modal #modalSubscribe (onClose)="closed()" (onDismiss)="closed()">
        <modal-body>
            <user-subscribe></user-subscribe>
        </modal-body>
        <modal-footer>
            <button type="button" class="default" data-dismiss="modal" (click)="modalSubscribe.close()">Fermer</button>
        </modal-footer>
    </modal>

    <modal #modal (onDismiss)="closed()">
        <modal-body>
            <form class="validate-form" [ngFormModel]="validateForm">
                <div class="row">
                    <div class="col-md-12 userInfo">
                        <h2>Information Client</h2>
                        <hr>
                        <div class="row user">
                            <div class="col-md-12">
                                <select [(ngModel)]="currentType">
                                    <option *ngFor="#type of userType; #i = index" [value]="type.type">{{type.name}}</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <label for="lastName">Nom</label>
                                    <input   [(ngModel)]="model.lastName" id="lastName" class="form-control">
                                </div>
                                <div>
                                    <label for="firstName">Prénom</label>
                                    <input  [(ngModel)]="model.firstName"  id="firstName" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <label for="phone">Téléphone</label>
                                    <input  [(ngModel)]="model.phone"  id="phone" class="form-control">
                                </div>
                                <div>
                                    <label for="mail">E-mail</label>
                                    <input  [(ngModel)]="model.mail"  id="mail" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div *ngIf="model.director.mail">
                            <h2>Directeur</h2>
                            <hr>
                            <div class="row user director">
                                <div class="col-md-6">
                                    <div>
                                        <label for="directorLastName">Nom</label>
                                        <input  [(ngModel)]="model.director.lastName"  id="directorLastName" class="form-control">
                                    </div>
                                    <div>
                                        <label for="directorFirstName">Prénom</label>
                                        <input  [(ngModel)]="model.director.firstName"  id="directorFirstName" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <label for="directorPhone">Téléphone</label>
                                        <input  [(ngModel)]="model.director.phone"  id="directorPhone" class="form-control">
                                    </div>
                                    <div>
                                        <label for="directorMail">E-mail</label>
                                        <input  [(ngModel)]="model.director.mail"  id="directorMail" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h2>Banque</h2>
                        <hr>
                        <div class="row bankInfo">
                            <div class="col-md-6">
                                <div>
                                    <label for="iban">IBAN</label>
                                    <input  [(ngModel)]="model.IBAN" id="iban" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <label for="bic">BIC</label>
                                    <input  [(ngModel)]="model.BIC" id="bic" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <label for="financialMail">BIC</label>
                                    <input  [(ngModel)]="model.financialMail" id="financialMail" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkbox ">
                                    <label for="paymentState"><input id="paymentState" type="checkbox" [(ngModel)]="model.paymentState"> Metre en place le paiement</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <label for="central">Central ou Enseigne</label>
                                    <input  [(ngModel)]="model.central"  id="central" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <label for="comment">Commentaire</label>
                                    <input  [(ngModel)]="model.central"  id="comment" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row userInfo">
                    <div class="col-md-12">
                        <h2>Magasin Associés</h2>
                        <hr>
                        <div *ngFor="#shop of model.associateShop; #i = index;">
                            <div class="row shop">
                                <div class="col-md-6">
                                    <div>
                                        <label for="socialReason">Raison Social</label>
                                        <input  [(ngModel)]="shop.socialReason"  id="socialReason" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <label for="shopName">Nom du magasin</label>
                                        <input  [(ngModel)]="shop.name"  id="shopName" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div>
                                        <label for="shopAdress">Adresse</label>
                                        <input  [(ngModel)]="shop.adress" id="shopAdress" class="form-control">
                                    </div>
                                    <div>
                                        <label for="shopAdress2">Adresse 2</label>
                                        <input  [(ngModel)]="shop.adress2" id="shopAdress2" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <label for="shopCity">Ville</label>
                                        <input  [(ngModel)]="shop.city" id="shopCity" class="form-control">
                                    </div>
                                    <div>
                                        <label for="shopZipCode">Code Postal</label>
                                        <input  [(ngModel)]="shop.zipCode"  id="shopZipCode" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div>
                                        <label for="shopMobile">Numéro de Portable du magasin</label>
                                        <input  [(ngModel)]="shop.mobile"  id="shopMobile" class="form-control">
                                    </div>
                                    <div>
                                        <label for="shopPhone">Numéro de Téléphone Fix</label>
                                        <input  [(ngModel)]="shop.phone"  id="shopPhone" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <label for="shopFax">Numéro de Fax</label>
                                        <input  [(ngModel)]="shop.fax" id="shopFax" class="form-control">
                                    </div>
                                    <div>
                                        <label for="shopMail">Email du magasin</label>
                                        <input  [(ngModel)]="shop.mail"  id="shopMail" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div>
                                        <label for="tva">TVA</label>
                                        <input  [(ngModel)]="shop.tva" id="tva" class="form-control">
                                    </div>
                                    <div>
                                        <label for="siret">Numéro Siret</label>
                                        <input  [(ngModel)]="shop.siret" id="siret" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <label for="adeli">Numéro Adeli</label>
                                        <input  [(ngModel)]="shop.adeli" id="adeli" class="form-control">
                                    </div>
                                    <div>
                                        <label >Présence d'un coffre de nuit ?</label><br>
                                        <label class="radio-inline"><input type="radio" name="nightBox"  (click)="shop.nightBox='true'">Oui</label>
                                        <label class="radio-inline"><input type="radio" name="nightBox" (click)="shop.nightBox='false'"b>Non</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <select id="day-selector" #s (change)="changeCurrentDay(s.value)">
                                        <option *ngFor="#day of days; #j = index" [value]="day.name">{{day.name}}</option>
                                    </select>
                                    <div class="row time-display">
                                        <div class="col-sm-6 timepicker-container">
                                            <label>Matin</label>
                                            <timepicker class="timepicker" [(ngModel)]="timepickerDay.data.morning.opening" [hourStep]="hstep" [minuteStep]="mstep" [showMeridian]=ismeridian></timepicker>
                                            <p>à</p>
                                            <timepicker class="timepicker" [(ngModel)]="timepickerDay.data.morning.closing" [hourStep]="hstep" [minuteStep]="mstep" [showMeridian]="ismeridian"></timepicker>
                                        </div>
                                        <div class="col-sm-6 timepicker-container">
                                            <label>Après-Midi</label>
                                            <timepicker class="timepicker" [(ngModel)]="timepickerDay.data.afternoon.opening" [hourStep]="hstep" [minuteStep]="mstep" [showMeridian]="ismeridian"></timepicker>
                                            <p>à</p>
                                            <timepicker class="timepicker" [(ngModel)]="timepickerDay.data.afternoon.closing" [hourStep]="hstep" [minuteStep]="mstep" [showMeridian]="ismeridian"></timepicker>
                                        </div>
                                        <button class="default" (click)="addDay(i)">Valider Horaires</button>
                                    </div>

                                    <div class="resume-hours" *ngFor="#disponibility of shop.disponibility">
                                        <h3>{{disponibility.day}}</h3>

                                        <span>De {{disponibility.data.morning.opening | date: "HH:mm"}}
                                        à
                                        {{disponibility.data.morning.closing | date: "HH:mm"}}</span>
                                        et
                                        <span>De {{disponibility.data.afternoon.opening | date: "HH:mm"}}
                                        à
                                        {{disponibility.data.afternoon.closing | date: "HH:mm"}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h2>Infos Administrateur</h2>
                    <hr>
                    <div class="col-md-12">
                        <div class="row adminInfo">
                            <div class="col-md-4">
                                <div>
                                    <label for="commercial">Commercial Associé</label>
                                    <input  [(ngModel)]="model.commercial"  id="commercial" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div>
                                    <label for="lensPoint">Point Lentille</label>
                                    <input  [(ngModel)]="model.lensPoint"  id="lensPoint" class="form-control">
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div>
                                    <label for="giftPoint">Point Cadeaux</label>
                                    <input  [(ngModel)]="model.giftPoint"  id="giftPoint" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="validate-button">
                        <button class="btn" (click)="validateUser(model); modal.close()" type="button">Valider</button>
                    </div>
                </div>
            </form>
        </modal-body>
    </modal>

    <div class="col-lg-12 collapse-tab">
        <div class="col-lg-12">
            <div class="col-lg-4">
                Name
            </div>
            <div class="col-lg-5">
                Mail
            </div>
            <div class="col-lg-3">
                Actions
            </div>
        </div>
    </div>
    <hr>

    <div class="col-lg-12 collapse-content">
        <div class="product col-lg-12"  *ngFor='#user of users; #i = index;'>

            <div class="collapse-head col-lg-12">
                <div class="col-lg-4">
                    <p>{{ user.firstName }} {{ user.lastName }}</p>
                </div>
                <div class="col-lg-5">
                    <p>
                        {{user.mail}}
                    </p>
                </div>
                <div class="col-lg-3">
                    <div class="col-lg-4">
                        <button (click)="modal.open(); modifyUser(i)"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></button>
                    </div>
                    <div class="col-lg-4">
                        <button (click)="isOpen[i] = !isOpen[i]"><i class="fa fa-eye" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 collapse-body" [ngClass]="{active: isOpen[i]}">
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <div class="col-lg-4">
                            <label>Téléphone:</label>
                            <div class="well well-sm">
                                {{ user.phone }}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>IBAN:</label>
                            <div class="well well-sm">
                                {{ user.IBAN }}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>BIC:</label>
                            <div class="well well-sm">
                                {{ user.BIC }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-4">
                            <label>Email financier:</label>
                            <div class="well well-sm">
                                {{ user.financialMail }}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>Mise en place du paiement:</label>
                            <div class="well well-sm">
                                <span *ngIf="user.paymentState">Oui</span>
                                <span *ngIf="!user.paymentState">Non</span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>Enseigne:</label>
                            <div class="well well-sm">
                                {{ user.central }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-4">
                            <label>Commentaire:</label>
                            <div class="well well-sm">
                                {{ user.comment }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <h3>Magasin(s) associé(s)</h3>
                        <div class="row shop" *ngFor="#shop of user.associateShop">
                            <div class="col-xs-12 col-md-12 col-sm-12">
                                <label>Raison Social</label>
                                <div class="well well-sm">
                                    {{shop.socialReason}}
                                </div>
                                <label>Nom du magasin</label>
                                <div class="well well-sm">
                                    {{shop.name}}
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 col-sm-6">
                                <label>Adresse</label>
                                <div class="well well-sm">
                                    {{shop.adress}}
                                </div>
                                <label>Adresse 2</label>
                                <div class="well well-sm">
                                    {{shop.adress2}}
                                </div>

                            </div>
                            <div class="col-xs-12 col-md-6 col-sm-6">
                                <label>Ville</label>
                                <div class="well well-sm">
                                    {{shop.city}}
                                </div>
                                <label>Code Postal</label>
                                <div class="well well-sm">
                                    {{shop.zipCode}}
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 col-sm-6">
                                <label>Numéro de Portable du magasin</label>
                                <div class="well well-sm">
                                    {{shop.mobile}}
                                </div>
                                <label>Numéro de Téléphone Fix</label>
                                <div class="well well-sm">
                                    {{shop.phone}}
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 col-sm-6">
                                <label>Numéro de Fax</label>
                                <div class="well well-sm">
                                    {{shop.fax}}
                                </div>
                                <label>Email du magasin</label>
                                <div class="well well-sm">
                                    {{shop.mail}}
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 col-sm-6">
                                <label>TVA</label>
                                <div class="well well-sm">
                                    {{shop.tva}}
                                </div>
                                <label>Numéro Siret</label>
                                <div class="well well-sm">
                                    {{shop.siret}}
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-6 col-sm-6">
                                <label>Numéro Adeli</label>
                                <div class="well well-sm">
                                    {{shop.adeli}}
                                </div>
                                <label>Présence d'un coffre de nuit</label>
                                <div class="well well-sm">
                                    <span *ngIf="shop.nightBox">Oui</span>
                                    <span *ngIf="!shop.nightBox">Non</span>
                                </div>

                            </div>
                            <div class="resume-hours" *ngFor="#disponibility of shop.disponibility">
                                <h3>{{disponibility.day}}</h3>

                                        <span>De {{disponibility.data.morning.opening | date: "HH:mm"}}
                                        à
                                        {{disponibility.data.morning.closing | date: "HH:mm"}}</span>
                                et
                                        <span>De {{disponibility.data.afternoon.opening | date: "HH:mm"}}
                                        à
                                        {{disponibility.data.afternoon.closing | date: "HH:mm"}}</span>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-12" *ngIf="user.director.mail">
                        <h2>Directeur</h2>
                        <div class="col-lg-4">
                            <h3>Nom:</h3>
                            <div class="well well-sm">
                                {{user.director.lastName}} {{user.director.firstName}}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <h3>Téléphone:</h3>
                            <div class="well well-sm">
                                {{user.director.phone}}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <h3>Mail:</h3>
                            <div class="well well-sm">
                                {{user.director.phone}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>