<div class="page login">
    <h1>Connexion</h1>
    {{diagnostic}}

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form [ngFormModel]="loginForm" novalidate>
                <div class="row user">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="form-group ">
                            <label for="mail">Mail</label>
                            <input type="text" [(ngModel)]="model.mail" ngControl="mail" id="mail" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" [(ngModel)]="model.password" ngControl="password" id="password" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="alert alert-danger"  *ngFor="#error of errors">
                    <strong>Attention!</strong> {{error}}
                </div>
                <div class="row submit">
                    <div class="col-md-4 col-md-offset-4">
                        <button type="submit" class="btn default" (click)="login()">Envoyer</button>
                    </div>
                </div>
                <div class="row forgotten-password">
                    <span (click)="modal.open()">Mot de passe oublié ?</span>
                </div>
            </form>
        </div>
    </div>
</div>

<modal #modal>
    <modal-body>
        <div class="row forgotten-password">
            <form [ngFormModel]="forgottenPasswordForm" novalidate>
                <label for="email">mail</label>
                <input type="text" [(ngModel)]="modelForgotten.mail" ngControl="mail" id="email" class="form-control">
                <div>
                    <button class="btn btn-primary" (click)="subscribe(modal)" type="button">Envoyer</button>
                </div>
            </form>
            <div class="alert alert-success"  *ngFor="#success of resetAlert">
                {{success}}
            </div>
        </div>
    </modal-body>
</modal>
